
/* footer nav start*/
#tool {
    position: relative;
    display: inline-block;
  }
  
  #tool .toolfade {
    visibility: hidden;
    background-color: white;
    color:rgb(4, 66, 129);
    text-align: center;
    border-radius: 30px;
    padding: 4px 20px;
    position: absolute;
    z-index: 1;
    bottom: 24%;
    left:100%;
  }
  
  #tool:hover .toolfade {
    visibility: visible;
    opacity: 1;
    margin-left:40px;
    transition:margin-left 1s;
  } 
/* footer nav end */
/* form style start */
.wrapper{
  width: 100%;
  background: #fff;
  padding:30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.wrapper .input-data{
  height:30px;
  width:100%;
  position:relative;
}

.wrapper .input-data input{
  height:100%;
  width:100%;
  border:none;
  outline: none;
  font-size:17px;
  border-bottom:2px solid silver;
}

.wrapper .input-data label{
  position:absolute;
  bottom:10px;
  left:0;
  color:grey;
  pointer-events: none;
  transition:all 0.3s ease;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform:translateY(-20px);
  font-size:15px;
  color:rgb(1, 72, 253);
}

.wrapper .input-data .underline{
  position:absolute;
  bottom:0px;
  height:2px;
  width:100%;
}

.input-data .underline::before{
  position:absolute;
  content:"";
  height: 100%;
  width:100%;
  background-color:rgb(0, 72, 254);
  transform:scaleX(0);
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline::before,
.input-data input:valid ~ .underline::before{
  transform:scaleX(1);
}

/*form end */
